@font-face
{
    font-family: "Poppins Bold";
    src: url("/fonts/Poppins-Bold.ttf");
}

@font-face
{
    font-family: "Poppins Regular";
    src: url("/fonts/Poppins-Regular.ttf");
}

body
{
	background-color: #00A0B0;
}

#firstPage
{
    height: 100vh;
}



.bgSquareFirst
{
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url("/img/bgLetters.jpg");
    width: 500px;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.bgSquare
{
    background-image: url("/img/bgLetters.jpg");
    width: 500px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    
}

.bgSquareDisplay
{
    background-color: white;
    width: 550px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    
    
    
}


.circle-img 
{
  width: 100px;
  height: 100px;
  overflow: hidden;
    margin-top: 20px;
    border: 2px solid #00A0B0;
    
}

.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}

#profilePosition
{
    float: left;
    padding-right: 20px;
    font-family: 'Poppins Regular';
}

#profileForm
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profileEmail
{
    font-family: 'Poppins Regular';
}

#profileBio
{
    font-family: 'Poppins Regular';
}

#headingBio
{
    margin:0;
    padding:0;
    line-height: 20px;
    font-family: 'Poppins Bold';
}

#right
{
    padding-left: 40px;
}

h2
{
   font-family: 'Poppins Bold'; 
}

#display
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file {
  visibility: hidden;
  position: absolute;
}

.heading
{
    font-family: 'Poppins Bold';
    font-size: 20px;
        
}

hr
{
    height: 2px;
    background-color: black;
       
}


.firstBtn
{
    margin: 10px;
    font-family: 'Poppins Bold';
    font-size: 20px;
    width: 200px; 
    color: white;
    background-color: black;
    
}

.firstBtn:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secondBtn
{
    font-family: 'Poppins Bold';
    color: white;
    background-color: black;
}

.secondBtn:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
